@model MVC.Models.EspecieAsignarModel

<h1>Asignar Especie a Ecosistema</h1>

<form method="post" asp-action="AsignarEspecie">

    <div class="form-group">
        
        @if(Model.TodasLasEspecies != null && Model.TodasLasEspecies.Any())
        {
            <label asp-for="EspeciesSeleccionadasIds" class="control-label"></label>
            <select asp-for="EspeciesSeleccionadasIds" asp-items="@Model.TodasLasEspecies" class="list-group" multiple></select>
            <span asp-validation-for="EspeciesSeleccionadasIds" class="text-danger"></span>
        }
        else
        {
            <p>No hay especies disponibles para seleccionar.</p>
        }


        @if (Model.TodosLosEcosistemas != null && Model.TodosLosEcosistemas.Any())
        {
            <div class="form-group">
                <label asp-for="EcosistemasSeleccionadosIds" class="control-label"></label>
                <select asp-for="EcosistemasSeleccionadosIds" asp-items="@Model.TodosLosEcosistemas" class="list-group" multiple></select>
                <span asp-validation-for="EcosistemasSeleccionadosIds" class="text-danger"></span>
            </div>
        }
        else
        {
            <p>No hay ecosistemas disponibles para seleccionar.</p>
        }


    </div>

    <button type="submit" class="btn btn-primary">Asignar</button>
</form>

<p id="pResultado"></p>